---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thijmen Kurk - Curriculum Vitae">
  <main class="p-10">
    <article class="prose lg:text-justify" style="margin: 0 auto">
      <h1>Thijmen J. Kurk, 27</h1>

      <p>
        <i>Software Developer & Data Scientist</i><br />
        <i class="text-gray-400">Zwolle, The Netherlands</i><br />
        <a href="mailto:thijmen@exante.ai">thijmen@exante.ai</a><br />
      </p>
      <p>Fluent languages: Dutch and English</p>
      <p>
        I am a passionate IT professional, specializing in software development
        and data analysis. With a commitment to delivering superior quality, I
        have a proven track record of rapidly learning and integrating new
        technologies into my work. My unique blend of HBO and WO education,
        coupled with my practical work experience, equips me with the ability to
        seamlessly link theoretical knowledge to practical application. Being
        aware of my youth and the endless opportunities to learn, I am excited
        to expand my knowledge and skills. I am eager to take on new challenges
        that will help me grow and develop further.
      </p>
      <hr />
      <h2>Traits and Skills</h2>
      <div
        class="flex gap-1 mb-3 md:overflow-visible overflow-scroll print:overflow-visible max-w-[65ch]"
      >
        {
          [
            "Critical thinker",
            "Effective communicator",
            "Practically minded",
            "Autodidact",
            "Autonomous",
            "Team player",
            "Patient & Disciplined",
            "Creative",
          ].map((x) => (
            <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
              {x}
            </span>
          ))
        }
      </div>
      <div
        class="flex gap-1 mb-3 md:overflow-visible overflow-scroll print:overflow-visible max-w-[65ch]"
      >
        {
          [
            "OOP",
            "Functional programming",
            "Data analysis & visualization",
            "Applied statistics & machine learning",
            "Architecting IT solutions",
            "Web development",
          ].map((x) => (
            <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
              {x}
            </span>
          ))
        }
      </div>
      <hr />
      <h2>Languages and Technologies</h2>
      <div>
        <div
          class="flex gap-1 mb-3 md:overflow-visible overflow-scroll print:overflow-visible max-w-[65ch]"
        >
          {
            [
              "Python",
              "C#",
              "Scala",
              "Java",
              "SQL",
              "TypeScript & JavaScript",
              "R",
              "HTML & CSS",
              "C/C++",
              "PHP",
              "Rust",
              "Regex",
            ].map((x) => (
              <span class="inline-flex items-center rounded-md bg-gray-50 bg-opacity-70 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                {x}
              </span>
            ))
          }
        </div>
        <div
          class="flex gap-1 mb-3 md:overflow-visible overflow-scroll print:overflow-visible max-w-[65ch]"
        >
          {
            [
              "Linux",
              "Git & GitHub",
              "Pandas",
              "React",
              "Numpy",
              ".NET Core",
              "PyTorch",
              "Docker",
              "Vercel",
              "Spark",
              "Amazon Web Services",
            ].map((x) => (
              <span class="inline-flex items-center rounded-md bg-gray-50 bg-opacity-70 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                {x}
              </span>
            ))
          }
        </div>
        <div
          class="flex gap-1 md:overflow-visible overflow-scroll print:overflow-visible max-w-[65ch]"
        >
          {
            [
              "Jupyter Notebooks",
              "FastAPI",
              "ASP.NET",
              "Spring framework",
              "RabbitMQ",
              "Redis",
              "tRPC",
              "Angular",
              "Express",
            ].map((x) => (
              <span class="inline-flex items-center rounded-md bg-gray-50 bg-opacity-70 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                {x}
              </span>
            ))
          }
        </div>
      </div>

      <p>
        <i
          >* Lists are ordered from left to right by proficiency, the left side
          being most proficient.
        </i>
      </p>
      <hr />
      <h2>Education</h2>
      <ul>
        <li>
          <i>2018 - 2022</i> / <strong
            >Master Computer Science (joint degree)</strong
          >, 8.6<br />
          <i class="text-gray-400"
            >Vrije Universiteit Amsterdam and University of Amsterdam</i
          >
          <br />
          Thesis on Automated Data Management for Microservice Architectures
        </li>
        <li>
          <i>2017 - 2018</i> / <strong>Pre-Master Computer Science</strong>, 9.2<br
          />
          <i class="text-gray-400">Vrije Universiteit Amsterdam</i>
        </li>
        <li>
          <i>2014 - 2017</i> / <strong>Bachelor HBO-ICT</strong>, 8.5<br />
          <i class="text-gray-400">University of Applied Sciences Windesheim</i>
        </li>
      </ul>
      <hr />
      <h2>Work Experience</h2>
      <ul>
        <li>
          <i>2019 - present</i> / Co-founder & technical director @ <strong
            >Exante.ai</strong
          >
          <br />
          <i class="text-gray-400">Zwolle, The Netherlands</i><br />
          As Co-Founder and Technical Director at Exante.ai, I've led a blend of
          AI consultancy and software development, including projects like data analysis
          for solar cooling systems and an automatic student-internship allocation
          system for StageMonitor. Additionally, we've developed innovative software
          products such as GPT-Detective, a tool for detecting AI-written text. A
          detailed description of our work at Exante.ai can be found <a
            href="https://exante.ai/referenties/"
            class="inline-flex items-center mb-0"
          >
            here.
          </a>
        </li>
        <li>
          <i>2020 - 2020</i> / Intern @ <strong>Databricks</strong>
          <br />
          <i class="text-gray-400">Amsterdam, The Netherlands</i><br />Selected
          from over 1100 candidates to work at Databricks, I've been engaged in
          cutting-edge research focusing on two primary questions. First, I've
          been exploring strategies to achieve sub-millisecond latency by
          addressing bottlenecks in the current Spark scheduler, a complex
          endeavor due to inherent architectural challenges. Second, I have
          worked on designing and building a scalable scheduling architecture to
          efficiently handle large cluster sizes and highly concurrent
          workloads.
        </li>
        <li>
          <i>2018 - 2019</i> / Teacher Assistent @ <strong
            >Vrije Universiteit Amsterdam</strong
          ><br />
          <i class="text-gray-400">Amsterdam, The Netherlands</i>
          <br />As a Teacher Assistant for Advanced Programming and Statistical
          Methods courses, I guided and graded Bachelor students on theoretical
          and practical programming assignments, facilitating their learning in
          Scala and R programming languages.
        </li>
        <li>
          <i>2017 - 2018</i> / Software Engineer @ <strong>Körbler</strong>
          <br />
          <i class="text-gray-400">Graz, Austria</i><br />
          From my home in Dronten, I worked remotely as a software engineer for Körbler
          in Graz, Austria, developing modules for their CRM system using PHP.
        </li>
        <li>
          <i>2017 - 2017</i> / Bachelor Thesis @ <strong>NCIM Group</strong><br
          />
          <i class="text-gray-400">The Hague, The Netherlands</i><br />I
          developed a RESTful API in C#, including a query language and access
          control layer, to dynamically expose data models within a database.
        </li>
        <li>
          <i>2017 - 2017</i> / Bachelor Internship @ <strong>Körbler</strong><br
          />
          <i class="text-gray-400">Graz, Austria</i><br />Using PHP, I developed
          an API and SDK combination for Körbler that dynamically exposes their
          internal databases to third parties, a solution now actively used in
          production by both internal developers and external entities.
        </li>
      </ul>
      <hr />
      <h2>Public Projects</h2>
      <ul>
        <li>
          <i>2019 - 2019</i> / <a
            href="https://event.cwi.nl/lsde/2022/showcase_l1.shtml"
            class="inline-flex items-center mb-0"
          >
            Earth Imaging Time-Travel Animations
          </a><br />We analyzed, processed, and visualized Landsat satellite
          imagery, creating the LSDE Earth Viewer, a tool to observe geolocation
          changes over time using Web Mercator projection.
        </li><li>
          <i>2019 - 2019</i> / <a
            href="https://github.com/GreenLab-Kebab/gl-kebab"
            class="inline-flex items-center mb-0"
          >
            An Empirical Analysis of JavaScript Dead Code in the Wild
          </a><br />We investigated the effect of JavaScript dead code on the
          load time and energy consumption of mobile web apps.
        </li>
      </ul>
    </article>
  </main>
</Layout>
